.App {
  text-align: center;
  border: 2px solid black;
  height: 600px;
  width: 500px;
  margin: 2% 40%;
}

.menu-div{
  height: 100%;
  width: 60%;
  background-color: greenyellow;
  padding: 0% 2%;
}
.menu-div div:hover{
  background-color: red;
  
}
.menu-div div {
  list-style: none;
  text-align: left;
}

 
.control-div{
  height: 55%;
  width: 100%;
  padding-top: 2%;
}

.circle-menu{
  height: 250px;
  width: 250px;
  background-color: #e49d9d;
  border-radius: 50%;
  display: inline-block;
}

.circle-select{
  height: 50px;
  width: 50px;
  background-color: #d61616;
  border-radius: 50%;
  display: inline-block;
  margin-top: 35%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


